*{
	margin: 3px;
}
html {
  scroll-behavior: smooth;
}
header{
<<<<<<< HEAD
	background-color: #5f24a1;
=======
	background-color: #c7b8d8;
>>>>>>> 2cf3de1d3315627eebf5ffa41edd1af95272cf7e
	font-style: solid , white;
	height: 75px;
	width: 100%;
	
	font-family:  Comic Sans MS;
}

header a{
	color: #f2f2f2;
}
li{
	list-style: none;
	display: inline-block;
}
.left{
	padding-top: 10px;
	margin:5px;
	float: left;
	font-size: 25px;
}

.right{
	padding-top: 10px;
	margin:5px;
	float: right;
	font-size: 25px;
	margin-right: 20px;
}
.cover_img{
	width: 100%;
	height:550px;
	
}
.logo_cuisine{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.item{
	text-align: center;
	position: center;
	padding: 20px;
	width:140px; 

}

.cuisine li:hover {
    background: #474b55;
    color: red;
    text-shadow: none;
}
.item_ul{
	padding-top: 50px;
}
b{
	margin:2px;
	padding: 5px;
}

section{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 600px;
}
button{
	font-size: 20px;
	width:120px;
	height:35px;
	cursor: pointer;
}
.container{
	text-align: center;
	padding: 5px;
	

}
.box_content{
	margin-top: 200px;
}
a{
	text-decoration: none;
	color: #f05a36;
}

.identify{
	padding-top: 90px;
	font-size: 25px;
	font-family:  Comic Sans MS;
}

.logout{
	color:red;
	font-size: 15px;
}
footer{
	text-align: center;
	background-color: #46535e;
	width: 100%;
}

.column a{

	font-size: 18px;
	font-family: Raleway,sans-serif;
}


.item_image{
	width:300px;
	height:180px;
}
.item_desc{
	font-size: 18px;
	color: darkslategray;
}
.item_details{
	width:800px; margin:0 auto;
}
.cover{
	 background: url(../img/cover.jpg) no-repeat; 
	 overflow: hidden;
	 background-size:cover;
}
.order{
	
	font-size: 20px;
	padding : 2px 8px;
	background-color: mediumspringgreen;
  	color: white;
	
}

.order:hover{
	color: indianred;
}
.order_body{
	float:right;
}
.text{
	font-size: 80px;
	margin: 200px;
	overflow: hidden;
	font-style: solid,bold;
	color: blue;
}
.column{
	width:20%;
	text-align: center;
	display: inline-block;
	

}
.top{
	text-align: center;
}

.column_head{
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.column li{
	margin-top: 2px;
	 display: list-item;
	 text-align: center;
	 
}

.mid{
	margin-top: 20px;
}

.message{
	
	display: block;
}

label{
	font-size: 25px;
	margin-right: auto;
}

input,textarea{
	width: 40%;
	font-size: 20px;
	color: green;
	margin-left: auto;
}
label {
    margin-right: 10px;
    font-size: 30px;
    display: inline-block;
    width: 300px;
    text-align: right;
  }
input{
	height: 30px;
}
.new_recipy li:hover {
    background: #474b55;
    color: red;
    text-shadow: none;
}
.food_box{
	margin:10px;
	width: 32%;
	height: 240px;
}
.img_box img{
	height: 144px;
	width:300px;
}

.price{
	margin: 5px;
	font-size: 18px;
	color: red;
	
}
.food_name{
	margin-top: 20px;
	font-size: 22px;
	color: blue;
}

.img_box{
	height: 144px;
	width:300px;
}

.content_box{
	height: 96px;
	width:300px;
	background-color: #dfe2e7;
}

.see_more{

	margin-bottom: 20px;
	font-size: 25px;
}

.foot_container{
	padding: 5px;
}
.master_review{
	text-align: center;
}
hr{
	height: 2px;
}
.review_box{
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}
.user{
	float: left;
	color: blue;
}

.rating{
	float: right;
	color: green;
	font-size: 22px;
}

.reviewer{
	height: 40px;
	padding-top: 2px;
	padding-bottom: 2px;


}

.review_text{
	height: 50px;
	margin-bottom: 40px;
	text-align: left;
}
